{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %} 
<div class=" container-fluid my-0 px-0 bg-dark">
    <div class=" container-fluid my-0 px-0 bg-dark">
    <img  src="/static/img/about.gif" width="1600"   alt="">
    <div class="container-fluid bg-dark px-0 my-3">
        <h2 style="background: linear-gradient(to bottom, #ff0000 12%, #003399 99%); text-align :center ; color:#ff9900">
            <b>Beyond imagination</b>
        </h2>
    </div>
    <div class= "container-fluid my-0 px-0"></div>
    <h2 style = "color:red; text-align: center;"> We are belongs to Gaming Community. </h2>
    <h3 style = "color:rgb(0, 240, 248); text-align: center;">Our Goal is Creating indian Gaming Community Indepandent and as a Career Option For Gamers.</h3>
    <h3 style = "color:rgba(248, 211, 0, 0.973); text-align: center;">Taking E-Sports on the Next Level.</h3>
    <h3 style = "color:rgba(0, 248, 41, 0.973); text-align: center;">As soon as possible we are trying to provide paid games Free of COST for Gamers.</h3>
    <h3 style = "color:rgba(248, 0, 207, 0.973); text-align: center;">Also we are planing to Launch our Team lineup for every multiplayer game. </h3>
    <h3 style = "color:rgb(128, 0, 248); text-align: center;">We Have Created our Team. if you want to join our team then <a href="/contact" target="__blank_">Click To Apply</a> </h3>
   </div>
   <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    </style>
   <img src="/static/img/storea.png" alt="" class="center">
</div>
{% endblock body %}