{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}
{% block body %}
<div class=" container-fluid my-0 px-0 bg-dark">
<img src="/static/img/ag.gif" width="1600" height="600" alt="">
<div class="container-fluid bg-dark px-0 my-3">
    <h2 style="background: linear-gradient(to bottom, #ff0000 12%, #003399 99%); text-align :center ; color:#ff9900">
        <b>Don't Take High Ping in Mind, Just Ask!</b>
    </h2>
    <h4 style = "color:rgb(0, 255, 234); text-align: center;"> Note:- If you are applying for Team then tag with @JOIN_BE in Quary Box! </h4>
</div>
<div class="container">

    <form method="post" action="/contact">
    {% csrf_token %}
        <div class="form-group">
            <label for="first"style="color:	rgb(255, 0, 0);"><b>First Name</b></label>
            <input type="text" class="form-control" id="first" name="first" placeholder="Enter First Name">
        </div>
        <div class="form-group">
            <label for="last" style="color:	rgb(0, 128, 255);"><b>Last Name</b></label>
            <input type="text" class="form-control" id="first" name="last" placeholder="Enter Last Name">
        </div>
        <div class="form-group">
            <label for="phone" style="color: rgb(255, 0, 0);"><b>Phone Number</b></label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Phone Number">
        </div>
        <div class="form-group">
            <label for="email" style="color: rgb(0, 128, 255);"><b>Email address</b></label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email like example@mail.com">
        </div>
        <div class="form-group">
            <label for="desc" style="color: rgb(255, 0, 0);"><b>Please Enter Your query/request </b></label>
            <textarea class="form-control" id="desc" name="desc" rows="3" placeholder="Tell us about your request/query!"></textarea>
        </div>
        <div class="text-center">
            <button type="Submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</div>
{% endblock body %}

      
   