
{% extends 'base.html' %}
{% block title %}Games|kNitrous.com{% endblock title %}
{% block body %}
<div class="container-fluid bg-dark px-0"> 
  <div class="container-fluid bg-dark px-0"> 
    <h2 style="background: linear-gradient(to bottom, #ff0000 12%, #003399 99%); text-align :center ; color:#ff9900"><b>Games for PC</b></h2>
  </div>
  <div class="container my-0 px-0 bg-dark">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/img/hitmang.gif" height="274" width="427" alt="">
              <div class="card-body">
                <p class="card-text"><b>Hitman III</b></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary bg-dark"><a href="https://hitman.com/global/"target="_blank"style="color:#ff0000;"><b>View</b></a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary bg-info"><a href="https://hitman.com/global/"target="_blank"style="color:#ff0000;"><b>Buy</b></a></button>
                  </div>
                  <small class="text-muted">Paid</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/img/fifa21.gif" height="273" width="427" alt="">
              <div class="card-body">
                <p class="card-text"><b>FiFa 2021</b></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-dark bg-dark"><a href="https://www.ea.com/games/fifa/fifa-21"target="_blank"style="color:#ff0000;"><b>View</b></a></button>
                    <button type="button" class="btn btn-sm btn-outline-dark bg-info"><a href="https://www.ea.com/games/fifa/fifa-21"target="_blank"style="color:#ff0000;"><b>Buy</b></a></button>
                  </div>
                  <small class="text-muted">Paid</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/img/pubgpc.gif" height="273" width="427" alt="">
              <div class="card-body">
                <p class="card-text" ><b>Pubg PC</b></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary bg-dark" ><a href="https://www.pubg.com/"target="_blank"style="color:#ff0000;"><b>View</b></a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary bg-info"><a href="https://www.pubg.com/"target="_blank"style="color:#ff0000;"><b>Buy</b></a></button>
                  </div>
                  <small class="text-muted">Paid</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/img/t_v.gif" alt="">

              <div class="card-body">
                <p class="card-text"><b>Valorant</b></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary bg-dark"><a href="https://playvalorant.com/en-us/"target="_blank"style="color:#ff0000;"><b>View</b></a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary bg-info"><a href="https://playvalorant.com/en-us/"target="_blank"style="color:#ff0000;"><b>Play</b></a></button>
                  </div>
                  <small class="text-muted">Free</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
            <img src="/static/img/gtavv.gif"  alt="">

              <div class="card-body">
                <p class="card-text"><b>Gta V</b></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary bg-dark"><a href="https://www.rockstargames.com/games/V"target="_blank"style="color:#ff0000;"><b>View</b></a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary bg-info"><a href="https://www.epicgames.com/store/en-US/p/grand-theft-auto-v"target="_blank"style="color:#ff0000;"><b>Buy</b></a></button>
                  </div>
                  <small class="text-muted">Paid</small>
                </div>
              </div>
            </div>
          </div>
          </div>
  </div>
</div>
{% endblock body %}